<header class="w-full bg-white shadow-sm sticky top-0 z-20">
  <div class="max-w-7xl mx-auto px-7 py-5">
    <nav
      class="flex items-center justify-between py-4 mx-auto max-w-7xl h-full"
    >
      <!-- Logo -->
      <div class="flex items-center space-x-2">
        <a class="font-bold text-2xl text-[#249ed2]" [routerLink]="['/']"
          >AbelGarcia</a
        >
      </div>

      <div
        class="hidden lg:flex flex-grow justify-center items-center space-x-4 lg:space-x-6 text-base text-black uppercase"
      >
        <a [routerLink]="['/']" class="cursor-pointer hover:text-[#26B9DB]"
          >Inicio</a
        >
        <a
          [routerLink]="['/']"
          fragment="cursos"
          class="cursor-pointer hover:text-[#26B9DB]"
          >Manuales y Cursos</a
        >
        <a
          [routerLink]="['/conferencias']"
          class="cursor-pointer hover:text-[#26B9DB]"
        >
          Talleres, conferencias y cursos</a
        >
        <a
          [routerLink]="['/about-me']"
          class="cursor-pointer hover:text-[#26B9DB]"
          >¿Quién es Abel Garcia?</a
        >
        <a
          [routerLink]="['/contacto']"
          class="cursor-pointer hover:text-[#26B9DB]"
          >Contacto</a
        >
      </div>

      <div class="flex items-center space-x-6">
        <button
          class="lg:hidden w-8 h-8 flex items-center justify-center"
          (click)="isMenuOpen = !isMenuOpen"
          aria-label="Toggle Menu"
        >
          <svg
            *ngIf="!isMenuOpen"
            class="w-6 h-6"
            fill="none"
            stroke="black"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>

          <svg
            *ngIf="isMenuOpen"
            class="w-6 h-6"
            fill="none"
            stroke="black"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </nav>

    <div
      *ngIf="isMenuOpen"
      class="lg:hidden absolute top-full w-full bg-white z-50 h-[292px]"
    >
      <nav
        class="flex flex-col space-y-6 text-lg px-6 py-6 text-black uppercase"
      >
        <a
          [routerLink]="['/']"
          class="cursor-pointer hover:text-[#26B9DB]"
          (click)="closeMenu()"
          >Inicio</a
        >
        <a
          [routerLink]="['/']"
          fragment="cursos"
          class="cursor-pointer hover:text-[#26B9DB]"
          (click)="closeMenu()"
          >Manuales y Cursos</a
        >
        <a
          [routerLink]="['/conferencias']"
          class="cursor-pointer hover:text-[#26B9DB]"
          (click)="closeMenu()"
        >
          Talleres, conferencias y cursos</a
        >
        <a
          [routerLink]="['/about-me']"
          class="cursor-pointer hover:text-[#26B9DB]"
          (click)="closeMenu()"
          >¿Quién es Abel Garcia?</a
        >
        <a
          [routerLink]="['/contacto']"
          class="cursor-pointer hover:text-[#26B9DB]"
          (click)="closeMenu()"
          >Contacto</a
        >
      </nav>
    </div>
  </div>
</header>
