/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Commissioner", sans-serif;
}

body.glightbox-open {
  padding-right: 0; /* quita compensación que GLightbox añade */
}

/* Cada indicador (dot) */
.custom-carousel .p-carousel-indicator button {
  @apply w-3 h-3 rounded-full bg-gray-300 transition-all;
}

.p-carousel-indicator-active .p-carousel-indicator-button {
  background-color: #26b8da !important; /* azul */
}
