/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
html {
  scroll-behavior: smooth;
}

body.glightbox-open {
  padding-right: 0; /* quita compensación que GLightbox añade */
}

/* Cada indicador (dot) */
.custom-carousel .p-carousel-indicator button {
  @apply w-3 h-3 rounded-full bg-gray-300 transition-all;
}

.p-carousel-indicator-active .p-carousel-indicator-button {
  background-color: #26b8da !important; /* azul */
}

.iti__country-list::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 3px;
}

.iti__country-list::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 3px;
}

/* Firefox */
.iti__country-list {
  scrollbar-width: thin;
  scrollbar-color: #000000 #f0f0f0;
}
